body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.hint {
    margin: 20px auto 20px;
    text-align: center;
}

.tag {
    width: 50px;
    text-align: right;
    margin-left: 30px;
}

.onecolumn {
    width: 200px;
    margin: 10px auto 10px;
    border: 1px solid black;
}

.twocolumn {
    width: 100px;
    margin: 10px auto 10px;
    border: 1px solid black;
}

.sel {
    width: 100px;
    margin: 10px auto 10px;
    border: 1px solid black;
}

.btn {
    margin-left: 100px;
    width: 150px;
}
