.body {
    background-color: whitesmoke;
}

.shell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    margin: auto;
    width: 300px;
    background-color: white;
}

.card-body {
    text-align: center;
}

.btn-primary {
    width: 150px;
}

.form-outline {
    width: 250px;
    margin-bottom: 10px;
    display: inline-block;
}

.left {
    width: 123px;
}

.right {
    width: 123px;
}

.custom-select {
    width: 123px;
    height: 34px;
    border: 1px solid lightgray;
}