body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: whitesmoke;
}

div {
    text-align: center;
}

.btn-upper, .btn-left, .btn-right {
    margin: 20px auto 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* border: 2px solid black; */
    /* outline: 0; */
}

.form-signin {
    max-width: 300px;
    padding: 20px;
    margin: 20px auto 20px;
}

.form-signin .form-signin-heading{
    margin-bottom: 10px;
    text-align: center;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn.btn-lg.btn-primary.btn-block {
    width: 120px;
    margin: 20px auto 20px;
    /* color: black; */
    /* background-color: whitesmoke; */
    /* border: 1px solid black; */
}