.body {
    background-color: whitesmoke;
}

.shell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    margin: auto;
    width: 300px;
    background-color: white;
}

.card-body {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    margin: auto;
    width: 250px;
}

.carousel-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item {
    margin: auto;
}

.btn-group {
    margin-top: 20px;
}

.btn-primary,.btn-link {
    margin-top: 10px;
    margin-bottom: 10px;
}