body {
    padding-top: 40px;
    padding-bottom: 40px;
}

div {
    text-align: center;
}

.hint {
    margin: 20px auto 20px;
}

.form-outline {
    max-width: 200px;
    margin: 20px auto 20px;
}

.btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* .btn-upper {
    margin: 20px auto 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.btn-left, .btn-right {
    margin: 20px auto 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.btn-below {
    margin-top: 20px;
    text-align: center;
    font: inherit;
    margin-bottom: 20px;
} */